/* App.css */

.header {
  background: linear-gradient(90deg, #e4002b 30%, #f7e300 50%, #e4002b 70%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.logo {
  max-width: 130px;
}

h1 {
  background: linear-gradient(90deg, #f7e300 35%, #e4002b 40%, #f7e300 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2px;
}


.search {
  background-color: #ffffff;
  color: #555;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.search:focus {
  background-color: #f0f0f0;
  border-color: #ccc;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  outline: none;
}

.player-card {
  height: 400px;
  max-width: 280px;
  min-width: 230px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  border: 2px solid #e4002b;
  background-color: #e4002b;
}

.player-card:hover {
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.player-logo {
  height: 350px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.player-logo:hover {
  transform: scale(0.9);
}

ul {
  color: #f7e300;
}

.footer {
  height: 50px;
  background-color: #f7e300;
}

a {
  color: #e4002b;
  text-decoration: none;
  transition: color 0.3s ease;
}
